@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";

    Layout = "LayoutEmpty";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shop</h1>
    <a asp-page="Login/Index">Click here to login</a>
</div>
